.mincha {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  max-width: 300px;
  max-height: fit-content;
  color: black;
  border-radius: 12%;
  border-color: #19008bc5;
  border-style: ridge;
  border-width: 8px;
}
.mincha_name {
  color: black;
  border-radius: 12%;
  border-color: darkblue;
  border-style: ridge;
  border-width: 8px;
  width: 300px;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}
