.tephilo_time {
  display: flex;
  float: right;
  width: 9.5rem;
  height: 2.5rem;
  border: 3px solid #17038d;
  background-color: #b2b5b8;
  color: rgb(14, 2, 2);
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
