.tephilos {
  display: flex;
  flex-direction: row;
  padding: 0;
  color: black;
  border-radius: 12%;
  border-color: #19008bc5;
  border-style: ridge;
  border-width: 8px;
  height: 3.5rem;
  align-items: center;
  justify-content: space-around;
}
