.App {
  margin: 0;
  background-color: rgb(177, 167, 167);
}
body {
  margin: 0;
  background-color: #3f3f3f;
}
.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.date {
  background-color: green;
  color: chartreuse;
  align-content: center;
  justify-content: left;
}
