.App {
  margin: 0;
  background-color: rgb(177, 167, 167);
  max-width: min-content;
}
body {
  margin: 5rem;
  background-color: #3f3f3f;
}
.App-header {
  background-color: #282c34;
  width: 85vmax;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header2 {
  background-color: #282c34;
  width: 85vmax;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
.main-body {
  font-size: calc(3px + 2vmin);
  width: 85vmax;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.date {
  background-color: green;
  color: chartreuse;
  align-content: center;
  justify-content: left;
}
.container {
  font-size: calc(3px + 2vmin);

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1em 5em 5em;
  grid-template-areas:
    "top top top"
    "left center right"
    "bottom bottom bottom";
}
.header_g {
  grid-area: top;
}
.zemanim_g {
  padding: 0.5rem;
  grid-area: right;
  min-width: max-content;
}
.ezemanim_g {
  padding: 1rem;

  grid-area: left;
  min-width: max-content;
}
.tehphilos_g {
  grid-area: center;
  max-width: max-content;
  margin-left: 0;
  margin-right: 0in;
}
.shacharis_g {
  grid-area: center;
}
.mincha_g {
  grid-area: center;
}
